.calendarWrapper {
  width: 50%;
  height: 64%;
  max-height: 100%;
}

.calendarWrapper h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.calendar-img {
  width: 75%;
  height: 75%;
  margin-top: 21px;
  border: 3px solid #EFC7AA;
}