$mint: #92ad94;
$greyblue: #495867;
$lighterblue: #79858A;
$maroon: #31081f;
$lightermaroon: #833F46;
$orange: #e08e45;
$lightorange: #AC8968;
$plum: #6b0f1a;
$darkgrey:#303134;

.calendarWrapper {
  display: flex;
  flex-direction: column;
  min-height: 60%;
  // min-width: 45%;
  width: 50%;
  max-height: 100%;
  background-color: $lighterblue;
  margin: 0 auto;
  border-right: 2px solid $greyblue;
  border-left: 2px solid $greyblue;
  border-radius: 15px;
}

.calendarWrapper h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: solid underline $greyblue;
  text-underline-offset: 5px;
  text-shadow: 1px 1px $darkgrey;
}
.calendar {
  height: 100%;
}
.calendar-img {
  width: 70%;
  height: 90%;
  margin-top: 21px;
  border: 3px solid $lightorange;
  border-radius: 10px;

}