$mint: #92ad94;
$greyblue: #495867;
$lighterblue: #79858A;
$maroon: #31081f;
$lightermaroon: #833F46;
$orange: #e08e45;
$lightorange: #AC8968;
$plum: #6b0f1a;

.header {
  text-align: left;
  padding-left: 7px;
  background-color: $mint;
  border-bottom: $maroon 5px solid;
}