


/* .gridContainer{
  display: grid;
  grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
  column-gap: 25px;
  row-gap: 15px;
  justify-items: center;
  border: 2px solid black;
  margin-top: 15%;
}
.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  grid-gap: 16px;
  flex-direction: column;
}
.cards {
  border: 1px black solid;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
} */