$mint: #92ad94;
$greyblue: #495867;
$lighterblue: #79858A;
$maroon: #31081f;
$lightermaroon: #833F46;
$orange: #e08e45;
$lightorange: #1B998B;
$plum: #6b0f1a;

* {
  // border: 1px solid #EFC7AA;
  // border-radius: 5px;
  /* color: #EFC7AA; */
  font-family: 'Abel', sans-serif;
  box-sizing: border-box;
  // margin: 5px;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* flex-wrap: row; */
  min-height: 100vh;
  color: $greyblue; 
  background-color: $mint;

}
